<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelea.org">
<head>
<meta charset="UTF-8">
<title>Müşteri Takip Sistemi</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
    <div  class="container">
      <h1>  Müşteri  Takip Sistemi</h1>
      <h2>Müşteri Ekle</h2>
       <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
          <input type="text" th:field="*{ad}" placeholder="Çalışanın Adı"  class="form-control mb-4 col-4">
           <input type="text" th:field="*{soyAd}" placeholder="Çalışanın Soyad" class="form-control mb-4 col-4">
            <input type="text" th:field="*{eMail}" placeholder="Çalışanın Email Adresi" class="form-control mb-4 col-4">
             <input type="text" th:field="*{adres}" placeholder="Çalışanın   Adresi" class="form-control mb-4 col-4">
              <input type="text" th:field="*{telefonNo}" placeholder="Çalışanın telefon no" class="form-control mb-4 col-4">
               <input type="text" th:field="*{aldigiUrun}" placeholder="Çalışanın aldığı ürün" class="form-control mb-4 col-4">
           <button type="submit" class="btn btn-info col-2">Müşteri ekle</button>
       </form>
    </div>
</body>
</html>